body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.container {
    width: 80%;
    padding: 20px;
    background-color: #00AEEF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.navbar {
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.nav-title {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.movie-box {
    background-color: #D7006A;
    color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.content-box {
    display: flex;
    background-color: #FFA500;
    color: #fff;
    margin: 10px 0;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

.content-box .content-name {
    flex: 80%;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.content-box .delete-button {
    flex: 20%;
    background-color: red;
    color: white;
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-content {
    margin-top: 20px;
}

.add-content input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.add-content button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #D7006A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}