body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #00AEEF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #fff;
}

.movie-box {
    background-color: #D7006A;
    color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}