.navbar {
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.nav-title {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

#quizContainer {
    width: 80%;
    padding: 20px;
    background-color: #00AE00;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#answerContainer {
    margin-top: 20px;
    background-color: #00D700;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}